.menu,
.menu_container {
    position: absolute;
    z-index: 999;
    inset: 0;
    height: 100vh;
    width: 100vw;
}

.menu_filter {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: grayscale(100%);
    background-color: rgb(from var(--red-color) r g b / 0.15);
}

.menu_background-left {
    position: absolute;
    top: 0;
    width: 33.33%;
    height: 100%;
    background-color: black;
}
.menu_title {
    font-size: 7rem;
    font-weight: bold;
    color: var(--yellow-color);
    margin-bottom: 4rem;
}
.menu_buttons {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu_button {
    position: relative;
    text-align: left;
    padding: 2rem 6rem;
    background-color: transparent;
    border: none;
    overflow: visible;
}
.menu_button > span {
    transition: all 0.2s ease-out;
    color: var(--yellow-color);
    position: relative;
    z-index: 1;
    font-size: 2rem; 
    cursor: pointer;
}
.menu_button:focus > span,
.menu_button:hover > span {
    color: black;
}

.menu_button::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: xywh(0 0 calc(100% - 2rem) 100%);
    transition: all 0.5s var(--ease-out-expo);
}
.menu_button:focus::before,
.menu_button:hover::before {
    clip-path: xywh(2rem 0 calc(100% - 1.99rem) 100%);
}

.menu_button::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left top;
    transform: scaleX(0);
    background-color: var(--yellow-color);
    clip-path: xywh(0 0 calc(100% - 2rem) 100%);
    transition: all 0.5s var(--ease-out-expo);
}

.menu_button:focus::after,
.menu_button:hover::after {
    transform: scaleX(100%);
    clip-path: xywh(2rem 0 100% 100%);
}
