.user-select-box_container {
    transform-style: preserve-3d;
    position: relative;
    height: 5vh;
    width: 100%;
    z-index: 10;
    overflow: visible;
}

.user-select-box {
    transform-style: preserve-3d;
    z-index: 2;
    user-select: text;
    pointer-events: all;
    clip-path: polygon(
        0 0,
        20% 1%,
        50% 0%,
        80% 3%,
        100% 0%,
        100% 100%,
        80% 98%,
        50% 100%,
        20% 99%,
        0% 100%
    );
    position: absolute;
    right: 0;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-right: 2rem;
    padding-left: 4.5rem;
    padding-top: 2rem;
    width: 26rem;
    min-height: 30rem;
    padding-bottom: 3rem;
    justify-content: start;
    align-items: start;
    gap: 0;
    /* background-color: rgb(from var(--dark-color) r g b / 0.85); */
    background-size: cover;
    transform: rotate3d(-0.4, 1, -0.2, -25deg);
    color: black;
    opacity: 1;
    transition:
        transform 2s var(--ease-out-expo),
        opacity 2s linear;
}

.user-select-box:hover {
    opacity: 1;
    transform: rotate3d(1, -1, 0.5, 15deg);
}

.user-select-box_title {
    width: 100%;
    position: relative;
    text-align: left;
    line-height: 2rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-decoration: black underline;
}

.user-select-box_option {
    width: 100%;
}

.user-select-box_option::before {
    background-color: var(--red-color);
}

.user-select-box_option::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #ff000033;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}

.user-select-box_option:focus::after,
.user-select-box_option:hover::after {
    transform: scaleX(1);
}

.user-select-box_option > p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    font-size: 2.2rem;
    position: relative;
    text-align: left;
    color: black;
}

@media (pointer: coarse) {
    .user-select-box {
        width: 26rem;
        right: -5vw;
        gap: 2rem;
    }

    .user-select-box_container {
        height: 7vh;
    }

    .user-select-box {
        opacity: 1;
        transform: rotate3d(1, -1, 0.5, 15deg);
    }
}
