.interaction {
    position: relative;
    max-width: 100vmin;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    perspective: 50vh;
}

.interaction_character-text-container {
    position: relative;
    transform: rotate3d(0.5, 1, 0.1, 20deg);
}
