.interaction {
    position: relative;
    max-width: 100vmin;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    perspective: 800px;
}
