.interaction {
    position: relative;
    width: 100vmin;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    perspective: 60vh;
}

.interaction_perspective-container {
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
}

.interaction_character-text-container {
    position: relative;
    width: 100%;
    /* transform: rotate3d(0.5, 1, -0.2, 20deg); */
    transform: rotate3d(0.5, 1, -0.2, 10deg) translateX(-5vw);
}

@media (pointer: coarse) {
    .interaction {
        max-width: 60vmax;
    }
}
