.character-text-box_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 14rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.character-text-box_username {
    z-index: 1;
    position: absolute;
    left: 7.5vw;
    top: 0;
    transform: translate(0, -50%);
    font-size: 1.5rem;
    color: var(--yellow-color);
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 999px;
}

.character-text-box_message {
    z-index: 0;
    position: relative;
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    inset: 0;
    padding-left: 15vh;
    padding-right: 23vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: var(--yellow-color);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.character-text-box_message > p {
    position: relative;
    font-size: 2.5rem;
    text-shadow: 0 5px 3px var(--brown-color);
    font-family: var(--font-character-default);
}

.character-text-box_message_background {
    position: absolute;
    top: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
